
        			<mat-card>
						<mat-card-header>
							<div mat-card-avatar class="example-header-image"></div>
							<mat-card-title>Comparison Result</mat-card-title>
						</mat-card-header>
						<mat-card-content>
                                <table class="table table-striped">
                                   <tr>
                                        <td>Tutuka File Total Transactions: </td>
                                        <td> {{data.tutukaRowCount}}</td>
                                    </tr>

                                <tr>
                                        <td>Client File Total Transactions: </td>
                                        <td> {{data.clientRowCount}}</td>
                                </tr>

                                    <tr>
                                        <td>Bad Transactions: </td>
                                        <td> {{data.badTransaction}}</td>
                                    </tr>
                                    <tr>
                                        <td>Duplicate Transactions: </td>
                                        <td> {{data.duplicate}}</td>
                                    </tr>

                                    <tr>
                                        <td>Perfect Matched Transactions: </td>
                                        <td> {{data.perfectMatch}}</td>
                                    </tr>

                                    <tr>
                                        <td>Perfect Mismatched Transactions: </td>
                                        <td> {{data.perfectMismatch}}</td>
                                    </tr>

                                    <tr>
                                        <td>Permissible Match Transactions: </td>
                                        <td> {{data.permissibleMatch}}</td>
                                    </tr>

                                    <tr>
                                        <td>Probable Match Transactions: </td>
                                        <td> {{data.probableMatch}}</td>
                                    </tr>
                                </table>
                        </mat-card-content>
					</mat-card>
  
