<kt-portlet class="_p_collections">
    <kt-portlet-body>
        <div class="kt-heading kt-heading--md">
            {{'READING_SHEET_GENERATION'|translate}}
        </div>
        <div class="row">
            <div class=" col-lg-12">



        <form [formGroup]="myForm" (ngSubmit)="submit()" class="kt-form" id="kt_form">
          <!--begin: Form Wizard Step 1-->
          <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
            <div class="kt-heading kt-heading--md">{{'ENTER_PERSONAL_DETAILS'|translate}}</div>


            <div class="kt-form__section kt-form__section--first">
              <div class="kt-wizard-v2__form">
            
                <div class="form-group">
                  <label>{{'CLIENT_CSV_FILE'|translate}}</label><br />
                  <input type="file" accept=".csv" class="form-control" (change)="onClientCsvSelected($event)"
                   formControlName="clientCsv" />
                   <print-error [control]="myForm.get('clientCsv')"></print-error>
                </div>

                <div class="form-group">
                  <label>{{'TUTUKA_CSV_FILE'|translate}}</label><br />
                  <input type="file" accept=".csv" class="form-control" (change)="onTutukaCsvSelected($event)"
                    formControlName="tutukaCsv" />
                    <print-error [control]="myForm.get('tutukaCsv')"></print-error>

                </div>
              </div>
            </div>
          </div>
          <!--end: Form Wizard Step 1-->
         
          <!--begin: Form Actions -->
          <div class="kt-form__actions">
            <button class="btn btn-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
              data-ktwizard-type="action-submit" type="submit" [disabled]="myForm.invalid">
              {{'SUBMIT'|translate}}
            </button>
          </div>
          <!--end: Form Actions -->
        </form>
    


     </div>
        </div>
        <hr>

    </kt-portlet-body>
</kt-portlet>
<ngx-spinner></ngx-spinner>